.table-transparent {
    background-color: transparent;
    border: none; /* Supprime toutes les bordures du tableau */
  }
  
  .table-transparent th,
  .table-transparent td {
    background-color: transparent;
    border: none; /* Supprime toutes les bordures des cellules */
    border-left: 1px solid white; /* Définit la bordure de gauche de chaque cellule comme blanche */
  }
  
  .table-transparent th:first-child,
  .table-transparent td:first-child {
    border-left: none; /* Supprime la bordure de gauche de la première colonne */
  }
  
  .square-container {
    width: 130px; /* Ajustez la largeur selon vos besoins */
    height: 130px; /* Ajustez la hauteur selon vos besoins */
    background-color: white;
    border-radius: 10px; /* Coins arrondis */
  }
  